---
- name: Provision UKSFTA Production Node
  hosts: all
  become: yes
  tasks:
    - name: Install baseline dependencies
      apt:
        name: 
          - python3
          - python3-pip
          - git
          - zip
          - unzip
          - curl
          - lib32gcc-s1
          - lib32stdc++6
        update_cache: yes

    - name: Setup UKSFTA Directory Structure
      file:
        path: "/opt/uksfta/{{ item }}"
        state: directory
        owner: "{{ ansible_user }}"
        mode: '0755'
      loop:
        - tools
        - workspace
        - cache
