---
- name: Sync Production Secrets to Remote
  hosts: all
  tasks:
    - name: Ensure secret directories exist
      file:
        path: "/opt/uksfta/workspace/tools/keys"
        state: directory
        mode: '0700'

    - name: Deploy .env file
      copy:
        src: "../../.env"
        dest: "/opt/uksfta/workspace/.env"
        mode: '0600'
      ignore_errors: yes

    - name: Deploy private signing keys
      copy:
        src: "../../tools/keys/"
        dest: "/opt/uksfta/workspace/tools/keys/"
        mode: '0600'
      ignore_errors: yes
