name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          config: .github/linters/.markdownlint.json
          # Explicitly ignore node_modules and other artifacts
          globs: |
            **/*.md
            !node_modules/**
            !.hemttout/**
            !.uksf_tools/**
